
<div class="row me-2">
    <div class="col-md-2">
        <div class="me-3">
            <div class="dataTables_length" id="DataTables_Table_0_length">
               
                    <h6>Users</h6>
                
            </div>
        </div>
    </div>
    <div class="col-md-10"><div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0">
        <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <!-- <label>
                <input type="search" class="form-control" placeholder="Search.." aria-controls="DataTables_Table_0">
            </label> -->
        </div>
            <div class="dt-buttons"> 
                <button class="dt-button add-new btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser">
                    <span>
                        <i class="ti ti-plus me-0 me-sm-1 ti-xs"></i>
                        <span class="d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New User</span>
                    </span>
                </button> 
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Create User</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form 
                        autocomplete="off"
                        [formGroup]="registerForm"
                        (ngSubmit)="createUser()"
                  >
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Name:</label>
                      <input type="text" class="form-control" id="recipient-name"  formControlName="name">
                    </div>
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label">Last name:</label>
                      <input type="text" class="form-control" id="recipient-name"  formControlName="last_name">
                    </div>
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label">Email:</label>
                      <input type="text" class="form-control" id="recipient-name"  formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="recipient-name"  formControlName="password">
                    </div>
                    <div class="col-md-6 mb-4">
                    <label for="selectpickerSubtext" class="form-label">Rol:</label>
                        <div class="dropdown bootstrap-select w-100">
                            <select id="selectpickerSubtext" class="selectpicker w-100" 
                                    data-style="btn-default" data-show-subtext="true" tabindex="null"
                                    formControlName="rol">
                                <option value="ADMIN">Administrator</option>
                                <option value="OPERATOR">Operator</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                      </div>

                  </form>
                </div>

              </div>
            </div>
          </div>

    </div>
</div>
<br>
<table class="datatables-users table dataTable no-footer dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 943px;">
    <thead class="border-top">
      <tr>
        <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 3px; display: none;" aria-label="">
        </th>
        <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 256px;" aria-label="User: activate to sort column ascending" aria-sort="descending">User</th>
        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 74px;" aria-label="Plan: activate to sort column ascending">Email</th>
        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 116px;" aria-label="Role: activate to sort column ascending">Role</th>
        <!-- <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 146px;" aria-label="Billing: activate to sort column ascending">Billing</th> -->
        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;" aria-label="Status: activate to sort column ascending">Status</th>
        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 0px;" aria-label="Actions">Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr class="odd" *ngFor="let user of users">
            <td class="control dtr-hidden" tabindex="0" style="display: none;">
            </td>
            <td class="sorting_1">
                <div class="d-flex justify-content-start align-items-center user-name">
                <!-- <div class="avatar-wrapper"><div class="avatar me-3">
                    <img src="../../assets/img/avatars/2.png" alt="Avatar" class="rounded-circle">
                </div> -->
                </div>
            <div class="d-flex flex-column">
                <a href="app-user-view-account.html" class="text-body text-truncate">
                    <span class="fw-medium">
                        {{ user.name }} {{ user.last_name }}
                    </span>
                </a>
                <small class="text-muted">{{ user.email }} </small>
            </div>
        <!-- </div> -->
    </td>
    <td>
        <span class="text-truncate d-flex align-items-center">
            <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                <i class="ti ti-chart-pie-2 ti-sm"></i>
            </span> {{ user.email }} </span>
        </td>
        <td>
        <span class="text-truncate d-flex align-items-center">
            <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                <i class="ti ti-chart-pie-2 ti-sm"></i>
            </span> {{ user.rol }} </span>
        </td>
        <td>
            <span class="badge bg-label-success" text-capitalized="">{{ user.status }}</span>
        </td>
        <td class="" style="">
            <div class="d-flex align-items-center">
                <a href="javascript:;" class="text-body">
                    <i class="ti ti-edit ti-sm me-2"></i>
                </a>
                <a href="javascript:;" class="text-body delete-record">
                    <i class="ti ti-trash ti-sm mx-2"></i>
                </a>
                <!-- <a href="javascript:;" class="text-body dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="ti ti-dots-vertical ti-sm mx-1"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="app-user-view-account.html" class="dropdown-item">View</a>
                    <a href="javascript:;" class="dropdown-item">Suspend</a>
                </div> -->
            </div>
        </td>
    </tr>

                                  
    </tbody>
  </table>