
<div class="row me-2">
    <div class="col-md-2">
        <div class="me-3">
            <div class="dataTables_length" id="DataTables_Table_0_length">
               
                    <h6>Users</h6>
                
            </div>
        </div>
    </div>
    <div class="col-md-10"><div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0">
        <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <!-- <label>
                <input type="search" class="form-control" placeholder="Search.." aria-controls="DataTables_Table_0">
            </label> -->
        </div>
            <div class="dt-buttons"> 
                <button class="dt-button add-new btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser">
                    <span>
                        <i class="ti ti-plus me-0 me-sm-1 ti-xs"></i>
                        <span class="d-none d-sm-inline-block">Add New User</span>
                    </span>
                </button> 
            </div>
        </div>
    </div>
</div>
<br>
<table class="datatables-users table dataTable no-footer dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 943px;">
    <thead class="border-top">
      <tr>
        <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 3px; display: none;" aria-label="">
        </th>
        <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 256px;" aria-label="User: activate to sort column ascending" aria-sort="descending">User</th>
        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 116px;" aria-label="Role: activate to sort column ascending">Role</th>
        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 74px;" aria-label="Plan: activate to sort column ascending">Plan</th>
        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 146px;" aria-label="Billing: activate to sort column ascending">Billing</th>
        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;" aria-label="Status: activate to sort column ascending">Status</th>
        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 0px;" aria-label="Actions">Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr class="odd">
            <td class="control dtr-hidden" tabindex="0" style="display: none;">
            </td><td class="sorting_1"><div class="d-flex justify-content-start align-items-center user-name">
                <div class="avatar-wrapper"><div class="avatar me-3">
                    <img src="../../assets/img/avatars/2.png" alt="Avatar" class="rounded-circle">
                </div>
            </div>
            <div class="d-flex flex-column">
                <a href="app-user-view-account.html" class="text-body text-truncate">
                    <span class="fw-medium">Zsazsa McCleverty</span>
                </a>
                <small class="text-muted">zmcclevertyesoundcloud.com</small>
            </div>
        </div>
    </td>
    <td>
        <span class="text-truncate d-flex align-items-center">
            <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                <i class="ti ti-chart-pie-2 ti-sm"></i>
            </span>Maintainer</span>
        </td>
        <td>
            <span class="fw-medium">Enterprise</span>
        </td>
        <td>Auto Debit</td>
        <td>
            <span class="badge bg-label-success" text-capitalized="">Active</span>
        </td>
        <td class="" style="">
            <div class="d-flex align-items-center">
                <a href="javascript:;" class="text-body">
                    <i class="ti ti-edit ti-sm me-2"></i>
                </a>
                <a href="javascript:;" class="text-body delete-record">
                    <i class="ti ti-trash ti-sm mx-2"></i>
                </a>
                <a href="javascript:;" class="text-body dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="ti ti-dots-vertical ti-sm mx-1"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end m-0">
                    <a href="app-user-view-account.html" class="dropdown-item">View</a>
                    <a href="javascript:;" class="dropdown-item">Suspend</a>
                </div>
            </div>
        </td>
    </tr>
    <tr class="even">
        <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
        <td class="sorting_1">
            <div class="d-flex justify-content-start align-items-center user-name">
                <div class="avatar-wrapper">
                    <div class="avatar me-3">
                        <img src="../../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle">
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <a href="app-user-view-account.html" class="text-body text-truncate">
                        <span class="fw-medium">Yoko Pottie</span>
                    </a>
                    <small class="text-muted">ypottiecprivacy.gov.au</small>
                </div>
            </div>
        </td>
        <td>
            <span class="text-truncate d-flex align-items-center">
                <span class="badge badge-center rounded-pill bg-label-warning w-px-30 h-px-30 me-2">
                    <i class="ti ti-user ti-sm"></i>
                </span>Subscriber</span>
            </td>
            <td>
                <span class="fw-medium">Basic</span>
            </td>
            <td>Auto Debit</td>
            <td>
                <span class="badge bg-label-secondary" text-capitalized="">Inactive</span>
            </td>
            <td class="" style="">
                <div class="d-flex align-items-center">
                    <a href="javascript:;" class="text-body"><i class="ti ti-edit ti-sm me-2"></i>
                    </a>
                    <a href="javascript:;" class="text-body delete-record">
                        <i class="ti ti-trash ti-sm mx-2"></i>
                    </a>
                    <a href="javascript:;" class="text-body dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="ti ti-dots-vertical ti-sm mx-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end m-0">
                        <a href="app-user-view-account.html" class="dropdown-item">View</a>
                        <a href="javascript:;" class="dropdown-item">Suspend</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="odd">
            <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
            <td class="sorting_1">
                <div class="d-flex justify-content-start align-items-center user-name">
                    <div class="avatar-wrapper">
                        <div class="avatar me-3">
                            <img src="../../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle">
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <a href="app-user-view-account.html" class="text-body text-truncate">
                            <span class="fw-medium">Wesley Burland</span>
                        </a>
                        <small class="text-muted">wburlandjuiuc.edu</small>
                    </div>
                </div>
            </td>
            <td>
                <span class="text-truncate d-flex align-items-center">
                    <span class="badge badge-center rounded-pill bg-label-info w-px-30 h-px-30 me-2">
                        <i class="ti ti-edit ti-sm"></i>
                    </span>Editor</span>
                </td>
                <td>
                    <span class="fw-medium">Team</span>
                </td>
                <td>Auto Debit</td>
                <td>
                    <span class="badge bg-label-secondary" text-capitalized="">Inactive</span>
                </td>
                <td class="" style="">
                    <div class="d-flex align-items-center">
                        <a href="javascript:;" class="text-body">
                            <i class="ti ti-edit ti-sm me-2"></i>
                        </a>
                        <a href="javascript:;" class="text-body delete-record">
                            <i class="ti ti-trash ti-sm mx-2"></i>
                        </a>
                        <a href="javascript:;" class="text-body dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="ti ti-dots-vertical ti-sm mx-1"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end m-0">
                            <a href="app-user-view-account.html" class="dropdown-item">View</a>
                            <a href="javascript:;" class="dropdown-item">Suspend</a>
                        </div>
                    </div>

                </td>
            </tr>
            <tr class="even">
                <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                <td class="sorting_1">
                    <div class="d-flex justify-content-start align-items-center user-name">
                        <div class="avatar-wrapper">
                            <div class="avatar me-3">
                                <span class="avatar-initial rounded-circle bg-label-secondary">VK</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="app-user-view-account.html" class="text-body text-truncate">
                                <span class="fw-medium">Vladamir Koschek</span>
                            </a>
                            <small class="text-muted">vkoschek17abc.net.au</small>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="text-truncate d-flex align-items-center">
                        <span class="badge badge-center rounded-pill bg-label-success w-px-30 h-px-30 me-2">
                            <i class="ti ti-circle-check ti-sm"></i>
                        </span>Author</span>
                </td>
                <td>
                    <span class="fw-medium">Team</span>
                </td>
                <td>Manual - Paypal</td>
                <td>
                    <span class="badge bg-label-success" text-capitalized="">Active</span>
                </td>
                <td class="" style="">
                    <div class="d-flex align-items-center">
                        <a href="javascript:;" class="text-body">
                            <i class="ti ti-edit ti-sm me-2"></i>
                        </a>
                        <a href="javascript:;" class="text-body delete-record">
                            <i class="ti ti-trash ti-sm mx-2"></i>
                        </a>
                        <a href="javascript:;" class="text-body dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="ti ti-dots-vertical ti-sm mx-1"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end m-0">
                            <a href="app-user-view-account.html" class="dropdown-item">View</a>
                            <a href="javascript:;" class="dropdown-item">Suspend</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="odd">
                <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                <td class="sorting_1">
                    <div class="d-flex justify-content-start align-items-center user-name">
                        <div class="avatar-wrapper">
                            <div class="avatar me-3">
                                <span class="avatar-initial rounded-circle bg-label-secondary">TW</span>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="app-user-view-account.html" class="text-body text-truncate">
                                <span class="fw-medium">Tyne Widmore</span>
                            </a>
                            <small class="text-muted">twidmore12bravesites.com</small>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="text-truncate d-flex align-items-center">
                        <span class="badge badge-center rounded-pill bg-label-warning w-px-30 h-px-30 me-2">
                            <i class="ti ti-user ti-sm"></i>
                        </span>Subscriber</span>
                    </td>
                    <td>
                        <span class="fw-medium">Team</span>
                    </td>
                    <td>Manual - Cash</td>
                    <td>
                        <span class="badge bg-label-warning" text-capitalized="">Pending</span>
                    </td>
                    <td class="" style="">
                        <div class="d-flex align-items-center">
                            <a href="javascript:;" class="text-body">
                                <i class="ti ti-edit ti-sm me-2"></i>
                            </a>
                            <a href="javascript:;" class="text-body delete-record">
                                <i class="ti ti-trash ti-sm mx-2"></i>
                            </a>
                            <a href="javascript:;" class="text-body dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="ti ti-dots-vertical ti-sm mx-1"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end m-0">
                                <a href="app-user-view-account.html" class="dropdown-item">View</a>
                                <a href="javascript:;" class="dropdown-item">Suspend</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="even">
                    <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                    <td class="sorting_1">
                        <div class="d-flex justify-content-start align-items-center user-name">
                            <div class="avatar-wrapper">
                                <div class="avatar me-3">
                                    <span class="avatar-initial rounded-circle bg-label-info">TB</span>
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <a href="app-user-view-account.html" class="text-body text-truncate">
                                    <span class="fw-medium">Travus Bruntjen</span>
                                </a>
                                <small class="text-muted">tbruntjenisitemeter.com</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span class="text-truncate d-flex align-items-center">
                            <span class="badge badge-center rounded-pill bg-label-secondary w-px-30 h-px-30 me-2">
                                <i class="ti ti-device-laptop ti-sm"></i>
                            </span>Admin</span>
                        </td>
                        <td>
                            <span class="fw-medium">Enterprise</span>
                        </td>
                        <td>Manual - Cash</td>
                        <td>
                            <span class="badge bg-label-success" text-capitalized="">Active</span>
                        </td>
                        <td class="" style="">
                            <div class="d-flex align-items-center">
                                <a href="javascript:;" class="text-body">
                                    <i class="ti ti-edit ti-sm me-2"></i>
                                </a>
                                <a href="javascript:;" class="text-body delete-record">
                                    <i class="ti ti-trash ti-sm mx-2"></i>
                                </a>
                                <a href="javascript:;" class="text-body dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="ti ti-dots-vertical ti-sm mx-1"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end m-0">
                                    <a href="app-user-view-account.html" class="dropdown-item">View</a>
                                    <a href="javascript:;" class="dropdown-item">Suspend</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="odd">
                        <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                        <td class="sorting_1">
                            <div class="d-flex justify-content-start align-items-center user-name">
                                <div class="avatar-wrapper"><div class="avatar me-3">
                                    <img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle"></div>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="app-user-view-account.html" class="text-body text-truncate">
                                        <span class="fw-medium">Stu Delamaine</span>
                                    </a>
                                    <small class="text-muted">sdelamainekwho.int</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="text-truncate d-flex align-items-center">
                                <span class="badge badge-center rounded-pill bg-label-success w-px-30 h-px-30 me-2">
                                    <i class="ti ti-circle-check ti-sm"></i>
                                </span>Author</span>
                            </td>
                            <td>
                                <span class="fw-medium">Basic</span>
                            </td>
                            <td>Auto Debit</td>
                            <td>
                                <span class="badge bg-label-warning" text-capitalized="">Pending</span>
                            </td>
                            <td class="" style="">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:;" class="text-body">
                                        <i class="ti ti-edit ti-sm me-2"></i>
                                    </a>
                                    <a href="javascript:;" class="text-body delete-record">
                                        <i class="ti ti-trash ti-sm mx-2"></i>
                                    </a>
                                    <a href="javascript:;" class="text-body dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="ti ti-dots-vertical ti-sm mx-1"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end m-0">
                                        <a href="app-user-view-account.html" class="dropdown-item">View</a>
                                        <a href="javascript:;" class="dropdown-item">Suspend</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="even">
                            <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                            <td class="sorting_1">
                                <div class="d-flex justify-content-start align-items-center user-name">
                                    <div class="avatar-wrapper">
                                        <div class="avatar me-3">
                                            <span class="avatar-initial rounded-circle bg-label-warning">SO</span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <a href="app-user-view-account.html" class="text-body text-truncate">
                                            <span class="fw-medium">Saunder Offner</span>
                                        </a>
                                        <small class="text-muted">soffner19mac.com</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="text-truncate d-flex align-items-center">
                                    <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                                        <i class="ti ti-chart-pie-2 ti-sm"></i>
                                    </span>Maintainer
                                </span>
                            </td>
                            <td>
                                <span class="fw-medium">Enterprise</span>
                            </td>
                            <td>Auto Debit</td>
                            <td>
                                <span class="badge bg-label-warning" text-capitalized="">Pending</span>
                            </td>
                            <td class="" style="">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:;" class="text-body">
                                        <i class="ti ti-edit ti-sm me-2"></i>
                                    </a>
                                    <a href="javascript:;" class="text-body delete-record">
                                        <i class="ti ti-trash ti-sm mx-2"></i>
                                    </a>
                                    <a href="javascript:;" class="text-body dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="ti ti-dots-vertical ti-sm mx-1"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end m-0">
                                        <a href="app-user-view-account.html" class="dropdown-item">View</a>
                                        <a href="javascript:;" class="dropdown-item">Suspend</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                            <td class="sorting_1">
                                <div class="d-flex justify-content-start align-items-center user-name">
                                    <div class="avatar-wrapper">
                                        <div class="avatar me-3">
                                            <span class="avatar-initial rounded-circle bg-label-success">SM</span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <a href="app-user-view-account.html" class="text-body text-truncate">
                                            <span class="fw-medium">Stephen MacGilfoyle</span>
                                        </a>
                                        <small class="text-muted">smacgilfoyleybigcartel.com</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="text-truncate d-flex align-items-center">
                                    <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                                        <i class="ti ti-chart-pie-2 ti-sm"></i>
                                    </span>Maintainer</span>
                                </td>
                                <td><span class="fw-medium">Company</span></td>
                                <td>Manual - Paypal</td>
                                <td>
                                    <span class="badge bg-label-warning" text-capitalized="">Pending</span>
                                </td>
                                <td class="" style="">
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:;" class="text-body">
                                            <i class="ti ti-edit ti-sm me-2"></i>
                                        </a>
                                        <a href="javascript:;" class="text-body delete-record">
                                            <i class="ti ti-trash ti-sm mx-2"></i>
                                        </a>
                                        <a href="javascript:;" class="text-body dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="ti ti-dots-vertical ti-sm mx-1"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end m-0">
                                            <a href="app-user-view-account.html" class="dropdown-item">View</a>
                                            <a href="javascript:;" class="dropdown-item">Suspend</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="control dtr-hidden" tabindex="0" style="display: none;"></td>
                                <td class="sorting_1">
                                    <div class="d-flex justify-content-start align-items-center user-name">
                                        <div class="avatar-wrapper">
                                            <div class="avatar me-3">
                                                <img src="../../assets/img/avatars/9.png" alt="Avatar" class="rounded-circle">
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <a href="app-user-view-account.html" class="text-body text-truncate">
                                                <span class="fw-medium">Skip Hebblethwaite</span>
                                            </a>
                                            <small class="text-muted">shebblethwaite10arizona.edu</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="text-truncate d-flex align-items-center">
                                        <span class="badge badge-center rounded-pill bg-label-secondary w-px-30 h-px-30 me-2">
                                            <i class="ti ti-device-laptop ti-sm"></i>
                                        </span>Admin</span>
                                    </td>
                                    <td>
                                        <span class="fw-medium">Company</span>
                                    </td>
                                    <td>Manual - Cash</td>
                                    <td>
                                        <span class="badge bg-label-secondary" text-capitalized="">Inactive</span>
                                    </td>
                                    <td class="" style="">
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:;" class="text-body">
                                                <i class="ti ti-edit ti-sm me-2"></i>
                                            </a>
                                            <a href="javascript:;" class="text-body delete-record">
                                                <i class="ti ti-trash ti-sm mx-2"></i>
                                            </a>
                                            <a href="javascript:;" class="text-body dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical ti-sm mx-1"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end m-0">
                                                <a href="app-user-view-account.html" class="dropdown-item">View</a>
                                                <a href="javascript:;" class="dropdown-item">Suspend</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
  </table>