
<div class="row me-2">
    <div class="col-md-2">
        <div class="me-3">
            <div class="dataTables_length" id="DataTables_Table_0_length">
               
                    <h6>Clients</h6>
                
            </div>
        </div>
    </div>
    <div class="col-md-10"><div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0">
        <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <!-- <label>
                <input type="search" class="form-control" placeholder="Search.." aria-controls="DataTables_Table_0">
            </label> -->
        </div>
            <div class="dt-buttons"> 
                <button class="dt-button add-new btn btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser">
                    <span>
                        <i class="ti ti-plus me-0 me-sm-1 ti-xs"></i>
                        <span class="d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Client</span>
                    </span>
                </button> 
            </div>
        </div>
        
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create Client</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form 
            autocomplete="off"
            [formGroup]="clientForm"
            (ngSubmit)="createClient()"
            >
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="recipient-name"  formControlName="name"> 
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Last name:</label>
                <input type="text" class="form-control" id="recipient-name" formControlName="last_name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Email:</label>
                <input type="text" class="form-control" id="recipient-name"  formControlName="email">
              </div>
              <div class="mb-3">
                  <label for="message-text" class="col-form-label">Password:</label>
                  <input type="text" class="form-control" id="recipient-name" formControlName="password">
              </div>
              <!-- <div class="col-md-6 mb-4">
              <label for="selectpickerSubtext" class="form-label">Rol:</label>
                  <div class="dropdown bootstrap-select w-100">
                      <select id="selectpickerSubtext" class="selectpicker w-100" 
                              data-style="btn-default" data-show-subtext="true" tabindex="null"
                              formControlName="rol">
                          <option value="ADMIN">Administrator</option>
                          <option value="OPERATOR">Operator</option>
                      </select>
                  </div> 
              </div>-->

              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>

            </form>
          </div>

        </div>
      </div>
    </div>
    </div>
</div>
<br>
<div class="table-responsive text-nowrap">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <th>Project</th> -->
          <th>Client</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td><i class="ti ti-brand-angular ti-lg text-danger me-3"></i> <span class="fw-medium">{{ client.name }} {{ client.last_name }}</span></td>
          <td>{{ client.email }}</td>
          <td>
            <span class="text-truncate d-flex align-items-center">
              <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                  <i class="ti ti-chart-pie-2 ti-sm"></i>
              </span> {{ client.rol }} </span>
          </td>
          <td>
            <span class="text-truncate d-flex align-items-center">
              <span class="badge badge-center rounded-pill bg-label-primary w-px-30 h-px-30 me-2">
                  <i class="ti ti-chart-pie-2 ti-sm"></i>
              </span> {{ client.status }} </span>
          </td>

          <!-- <td><span class="badge bg-label-primary me-1">Active</span></td> -->
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-pencil me-1"></i> Edit</a>
                <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-trash me-1"></i> Delete</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
